@model IEnumerable<SchoolProject.Models.Classes>

    @{
        ViewBag.Title = "List";
    }

    <h2>Classes List</h2>

    @{
        foreach (SchoolProject.Models.Classes classes in Model)
        {
            <div><a href="/Classes/Show/@classes.ClassId">@classes.ClassName</a></div>
        }
    }
