@model IEnumerable<SchoolProject.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>Teachers List</h2>

<div>
    <a href="/Teacher/New">New Teacher</a>
</div>

<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey" value="" />
    <button>Search</button>
</form>

@{
    foreach (SchoolProject.Models.Teacher teacher in Model)
    {
        <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
    }
}
